@model List<Sensor>
@{
}

<h2 class="text-center mb-4">List Of Sensors</h2>

<div class="d-flex justify-content-between mb-4">
    <a class="btn btn-success" asp-controller="Sensors" asp-action="Create">
        <i class="fas fa-plus"></i> New Sensor
    </a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Sensor ID</th>
                <th>Location</th>
                <th>State</th>
                <th>Positioning Date</th>
                <th>Danger</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Smoke</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Model)
            {
                <tr>
                    <td>@sensor.SensorId</td>
                    <td>@sensor.SensorLocation</td>
                    <td>@sensor.SensorState</td>
                    <td>@sensor.SensorPositioningDate.ToString("MM/dd/yyyy")</td>
                    <td>@sensor.SensorDangerSituation</td>
                    <td>@sensor.Temperature</td>
                    <td>@sensor.Humidity</td>
                    <td>@sensor.Smoke</td>
                    <td class="text-nowrap">
                        <a class="btn btn-primary btn-sm me-2" asp-controller="Sensors" asp-action="Edit" asp-route-id="@sensor.SensorId">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-danger btn-sm" asp-controller="Sensors" asp-action="Delete" asp-route-id="@sensor.SensorId" onclick="return confirm('Are You Sure?')">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
