@model List<ForestFireDetection.ViewModels.SensorDataViewModel>


<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-database"></i> Daily Sensor Data</h3>
            </div>
            <div class="card-body">
                <table id="sensorDataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td><i class="fas fa-clock"></i> Timestamp</td>
                            <td><i class="fas fa-thermometer-half"></i> Temperature (°C)</td>
                            <td><i class="fas fa-tint"></i> Humidity (%)</td>
                            <td><i class="fas fa-smog"></i> Smoke</td>
                            <td><i class="fas fa-fire"></i> Fire Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                <td>@item.Temperature.ToString("F2")</td>
                                <td>@item.Humidity.ToString("F2")</td>
                                <td>@item.Smoke.ToString("F2")</td>
                                <td>@item.FireScore.ToString("F2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#sensorDataTable').DataTable({
                paging: true,
                lengthChange: false,
                searching: true,
                ordering: true,
                info: true,
                autoWidth: false
            });
        });
    </script>
}
