@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Patient Dashboard";
}

<div class="container p-3 ">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Admins List </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Users" asp-action="CreateAdmin" class="btn btn-primary">
                <i class="bi bi-person-add"></i> &nbsp; Addan Admin
            </a>
            </div>
    </div>

</div>
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model=>model.Id)</td>
            <td>@Html.DisplayNameFor(Model=>Model.FirstName)</td>
            <td>@Html.DisplayNameFor(Model=>Model.LastName)</td>
            <td>@Html.DisplayNameFor(Model=>Model.Email)</td>
            <!-- Display other properties as needed -->
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td width="20%">
                    @item.FirstName
                </td>
                <td width="20%">
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-controller="Users" asp-action="EditAdmin" asp-route-id="@item.Id"
                           class="btn btn-warning"> <i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Users" asp-action="DeleteAdmin" asp-route-id="@item.Id"
                           class="btn btn-danger"> <i class="bi bi-trash"></i>Delete</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>

