@model List<ForestFireDetection.ViewModels.SensorWithLatestDataViewModel>

@{
    ViewData["Title"] = "Map";
}
<div class="row">
    <div class="card mt-3">

        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-map"></i> map</h3>
        </div>

        <div class="card-body">
            <!-- عنصر الخريطة -->
            <div id="map"</div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/sensor-charts.js"></script>

    <script>
        window.addEventListener('load', function () {
        @foreach (var sensor in Model)
        {
            <text>
                    updateSensorOnMap({
                        sensorId: "@sensor.SensorId",
                        latitude: @sensor.Latitude,
                        longitude: @sensor.Longitude,
                        temperature: @sensor.Temperature,
                        humidity: @sensor.Humidity,
                        smoke: @sensor.Smoke,
                        timestamp: "@sensor.Timestamp.ToString("o")",
                        sensorState: "@sensor.SensorState"
                    });
            </text>
        }
                });
    </script>
}
